::-webkit-scrollbar {
    width: 7px;
    height: 120% !important;
}

::-webkit-scrollbar-track {
    background: #424242;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
    border-radius: 10px;
    border: 1px solid #424242;
}

::-webkit-scrollbar-thumb:hover {
    background: #0e0e0e;
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 5px;
    width: 100%;
    height: 100vh;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, p, span, label {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

main {
    width: 100%;
    height: 100%;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    height: 56px;
    border-radius: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all ease-in 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.dropbtn i {
    padding-right: 12px;
}

.dropbtn::after {
    content: "";
    border-radius: 50%;
    background-color: #161616;
    position: absolute;

    right: 0;
    z-index: -1;
    display: flex;

    width: 0;
    height: 0;
    transition: all ease-in 0.3s;
    opacity: 0.5;

}

.dropbtn:active::after {
    width: 100%;
    height: 400px;
    opacity: 1;
    align-items: center;

}


.dropbtn:hover, .dropbtn:focus {
    background-color: #1a1a1a;
}

nav {
  
    width: 100%;
}



aside {
    width: 33%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1e1e1e;
}

article {
    width: 67%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin-left: 33%;
    padding: 16px;
}


aside nav {
    padding: 16px 28px;
}